[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Hyunseok Jung (aronjung)
	owner = group user/Nexell (NexellBackUp)
	owner = group user/SeongO Park (raypark714)
	owner = group user/allan park (mcjino21)
[access "refs/for/refs/*"]
	read = group user/Nexell (NexellBackUp)
	push = group user/Nexell (NexellBackUp)
	label-Code-Review = -2..+2 group user/Nexell (NexellBackUp)
	label-Verified = -1..+1 group user/Nexell (NexellBackUp)
	rebase = group user/Nexell (NexellBackUp)
	removeReviewer = group user/Nexell (NexellBackUp)
	submit = group user/Nexell (NexellBackUp)
[access "refs/heads/*"]
	read = group user/Nexell (NexellBackUp)
	create = group user/Nexell (NexellBackUp)
	push = +force group user/Nexell (NexellBackUp)
	pushMerge = group user/Nexell (NexellBackUp)
[access "refs/tags/*"]
	push = group user/Nexell (NexellBackUp)
	push = +force group user/Nexell (NexellBackUp)
[receive]
	requireSignedOffBy = true
	requireChangeId = true
[submit]
	action = rebase always
	mergeContent = false
